
### Project specific
config.yml

### Project data
data/

### Ignore everything in this folder…
local_gitignore/*
### …except this file:
!local_gitignore/.gitkeep 

### Package management
renv/library/
renv/python/
renv/staging/

# Temporary files created by R notebooks
*.html
*.md

# Markdown files to keep
!README.md

# Temporary files created by R markdown 
*.utf8.md
*.knit.md

# knitr and R markdown default cache directories
*_cache/
/cache/

# R Environment Variables
.Renviron

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user
.Rproj.user/

###############

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# R bookdown caching files
/*_files/

